.material-icons.md-48{
  color:black;
  font-size:180px ;
  position: relative;
  top: 60px;
}
ul li{
  list-style: none;

}
.borde{
  display: inline-flex
}

#persona{
  margin:60px;
  padding:30px;
  border:1px solid #000;
}

#informacion{
  display: inline-flex;
}

#nombre{
  display: inline-flex;
}

#ubicacion{

}
